/*
  Table Row Styles
*/
@use "/src/styles/variables";

.tableRow {
    display: flex;
    justify-content: space-between;
    background: variables.$lightBg;
    font-size: 1rem;
    border-bottom: 1px solid #545252;

    .tableCell {
        padding: 4px 8px;
        word-break: break-word;
        display: flex;
        align-items: center;
        min-height: 3rem;
        text-align: left;

        a {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        &.album {
            flex: 0 0 15%;
            min-width: 15%;
            justify-content: center;
            padding: 0 10px;

            a {
                width: 95%;
                max-width: 70px;
                border: 1px solid rgba(0, 0, 0, 0);

                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    border: 1px solid variables.$lime;
                }
            }
        }
        &.song {
            flex: 0 0 35%;
            min-width: 35%;

            .sortButton {
                display: flex;
                align-items: center;
                margin-left: 5px;
                cursor: pointer;
            }
        }
        &.artist {
            border-right: none;
            flex: 0 0 35%;
            min-width: 35%;
            position: relative;

            div {
                position: relative;
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 45px;
            }
        }
        &.duration {
            flex: 0 0 15%;
            min-width: 15%;
            justify-content: center;
        }
    }
}

.tableHeadersContainer {
    font-size: 1.1rem;
    cursor: initial;
    line-height: 3.5rem;

    .tableCell {
        font-weight: 700;
        border-radius: 2px;

        &.song {
            cursor: pointer;
            &:hover {
                background: rgb(52, 52, 55);
            }
        }
    }
}

.tableDataContainer {
    padding: 10px 0;
    transition: all 0.2s ease;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background: rgb(52, 52, 55);
    }

    .tableCell {
        &.artist {
            flex-wrap: wrap;
            align-items: center;

            span {
                line-height: 1.6rem;
            }
        }
    }
}

@media (max-width: variables.$screen-md) {
    .tableRow {
        .tableCell {
            padding: 2px 4px;

            &.album {
                flex: 0 0 25%;
                min-width: 25%;
            }
            &.song {
                flex: 0 0 37.5%;
                min-width: 37.5%;
            }
            &.artist {
                flex: 0 0 37.5%;
                min-width: 37.5%;
            }
            &.duration {
                display: none;
            }
        }
    }
}
